#test-container {
  padding-left: 10px;
}

#test-header {
  text-align: center;
}

#test-table {
  border: 1px solid black;
  border-collapse: collapse;
}

.test-td, .test-th {
  border: 1px solid black;
  text-align: center;
  padding: 5px 5px 5px 5px;
}

